---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/svenfuchs/gem-release/pulls/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '52'
      x-ratelimit-reset:
      - '1491771564'
      etag:
      - W/"eab239edb1dddaa44b76c81789b3340c"
      last-modified:
      - Fri, 14 Oct 2016 15:04:28 GMT
      x-github-media-type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/svenfuchs/gem-release/pulls/1","id":20367,"html_url":"https://github.com/svenfuchs/gem-release/pull/1","diff_url":"https://github.com/svenfuchs/gem-release/pull/1.diff","patch_url":"https://github.com/svenfuchs/gem-release/pull/1.patch","issue_url":"https://api.github.com/repos/svenfuchs/gem-release/issues/1","number":1,"state":"closed","locked":false,"title":"don''t
        trample files","user":{"login":"flooose","id":123168,"avatar_url":"https://avatars3.githubusercontent.com/u/123168?v=3","gravatar_id":"","url":"https://api.github.com/users/flooose","html_url":"https://github.com/flooose","followers_url":"https://api.github.com/users/flooose/followers","following_url":"https://api.github.com/users/flooose/following{/other_user}","gists_url":"https://api.github.com/users/flooose/gists{/gist_id}","starred_url":"https://api.github.com/users/flooose/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/flooose/subscriptions","organizations_url":"https://api.github.com/users/flooose/orgs","repos_url":"https://api.github.com/users/flooose/repos","events_url":"https://api.github.com/users/flooose/events{/privacy}","received_events_url":"https://api.github.com/users/flooose/received_events","type":"User","site_admin":false},"body":"Hi
        Sven,\n\nsome minor changes so that files don''t get trampled. Mainly in bootstrapping,
        but I''ve also added a -e option to bootstrap. Let me know what you think.\n","created_at":"2010-10-26T18:14:43Z","updated_at":"2014-06-13T18:40:20Z","closed_at":"2010-10-27T11:41:48Z","merged_at":null,"merge_commit_sha":"","assignee":null,"assignees":[],"milestone":null,"commits_url":"https://api.github.com/repos/svenfuchs/gem-release/pulls/1/commits","review_comments_url":"https://api.github.com/repos/svenfuchs/gem-release/pulls/1/comments","review_comment_url":"https://api.github.com/repos/svenfuchs/gem-release/pulls/comments{/number}","comments_url":"https://api.github.com/repos/svenfuchs/gem-release/issues/1/comments","statuses_url":"https://api.github.com/repos/svenfuchs/gem-release/statuses/13fe632d000286cf7ec2564686ee84e38e1a5a51","head":{"label":"flooose:master","ref":"master","sha":"13fe632d000286cf7ec2564686ee84e38e1a5a51","user":{"login":"flooose","id":123168,"avatar_url":"https://avatars3.githubusercontent.com/u/123168?v=3","gravatar_id":"","url":"https://api.github.com/users/flooose","html_url":"https://github.com/flooose","followers_url":"https://api.github.com/users/flooose/followers","following_url":"https://api.github.com/users/flooose/following{/other_user}","gists_url":"https://api.github.com/users/flooose/gists{/gist_id}","starred_url":"https://api.github.com/users/flooose/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/flooose/subscriptions","organizations_url":"https://api.github.com/users/flooose/orgs","repos_url":"https://api.github.com/users/flooose/repos","events_url":"https://api.github.com/users/flooose/events{/privacy}","received_events_url":"https://api.github.com/users/flooose/received_events","type":"User","site_admin":false},"repo":{"id":1058984,"name":"gem-release","full_name":"flooose/gem-release","owner":{"login":"flooose","id":123168,"avatar_url":"https://avatars3.githubusercontent.com/u/123168?v=3","gravatar_id":"","url":"https://api.github.com/users/flooose","html_url":"https://github.com/flooose","followers_url":"https://api.github.com/users/flooose/followers","following_url":"https://api.github.com/users/flooose/following{/other_user}","gists_url":"https://api.github.com/users/flooose/gists{/gist_id}","starred_url":"https://api.github.com/users/flooose/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/flooose/subscriptions","organizations_url":"https://api.github.com/users/flooose/orgs","repos_url":"https://api.github.com/users/flooose/repos","events_url":"https://api.github.com/users/flooose/events{/privacy}","received_events_url":"https://api.github.com/users/flooose/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/flooose/gem-release","description":"Release
        your ruby gems with ease. (What a bold statement for such a tiny plugin ...)","fork":true,"url":"https://api.github.com/repos/flooose/gem-release","forks_url":"https://api.github.com/repos/flooose/gem-release/forks","keys_url":"https://api.github.com/repos/flooose/gem-release/keys{/key_id}","collaborators_url":"https://api.github.com/repos/flooose/gem-release/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/flooose/gem-release/teams","hooks_url":"https://api.github.com/repos/flooose/gem-release/hooks","issue_events_url":"https://api.github.com/repos/flooose/gem-release/issues/events{/number}","events_url":"https://api.github.com/repos/flooose/gem-release/events","assignees_url":"https://api.github.com/repos/flooose/gem-release/assignees{/user}","branches_url":"https://api.github.com/repos/flooose/gem-release/branches{/branch}","tags_url":"https://api.github.com/repos/flooose/gem-release/tags","blobs_url":"https://api.github.com/repos/flooose/gem-release/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/flooose/gem-release/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/flooose/gem-release/git/refs{/sha}","trees_url":"https://api.github.com/repos/flooose/gem-release/git/trees{/sha}","statuses_url":"https://api.github.com/repos/flooose/gem-release/statuses/{sha}","languages_url":"https://api.github.com/repos/flooose/gem-release/languages","stargazers_url":"https://api.github.com/repos/flooose/gem-release/stargazers","contributors_url":"https://api.github.com/repos/flooose/gem-release/contributors","subscribers_url":"https://api.github.com/repos/flooose/gem-release/subscribers","subscription_url":"https://api.github.com/repos/flooose/gem-release/subscription","commits_url":"https://api.github.com/repos/flooose/gem-release/commits{/sha}","git_commits_url":"https://api.github.com/repos/flooose/gem-release/git/commits{/sha}","comments_url":"https://api.github.com/repos/flooose/gem-release/comments{/number}","issue_comment_url":"https://api.github.com/repos/flooose/gem-release/issues/comments{/number}","contents_url":"https://api.github.com/repos/flooose/gem-release/contents/{+path}","compare_url":"https://api.github.com/repos/flooose/gem-release/compare/{base}...{head}","merges_url":"https://api.github.com/repos/flooose/gem-release/merges","archive_url":"https://api.github.com/repos/flooose/gem-release/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/flooose/gem-release/downloads","issues_url":"https://api.github.com/repos/flooose/gem-release/issues{/number}","pulls_url":"https://api.github.com/repos/flooose/gem-release/pulls{/number}","milestones_url":"https://api.github.com/repos/flooose/gem-release/milestones{/number}","notifications_url":"https://api.github.com/repos/flooose/gem-release/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/flooose/gem-release/labels{/name}","releases_url":"https://api.github.com/repos/flooose/gem-release/releases{/id}","deployments_url":"https://api.github.com/repos/flooose/gem-release/deployments","created_at":"2010-11-07T11:11:06Z","updated_at":"2012-12-15T22:58:06Z","pushed_at":"2010-12-03T09:37:38Z","git_url":"git://github.com/flooose/gem-release.git","ssh_url":"git@github.com:flooose/gem-release.git","clone_url":"https://github.com/flooose/gem-release.git","svn_url":"https://github.com/flooose/gem-release","homepage":"","size":289,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":false,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"develop"}},"base":{"label":"svenfuchs:master","ref":"master","sha":"af674bdf359fa96e8ca4611fd9435e30ceb55af9","user":{"login":"svenfuchs","id":2208,"avatar_url":"https://avatars3.githubusercontent.com/u/2208?v=3","gravatar_id":"","url":"https://api.github.com/users/svenfuchs","html_url":"https://github.com/svenfuchs","followers_url":"https://api.github.com/users/svenfuchs/followers","following_url":"https://api.github.com/users/svenfuchs/following{/other_user}","gists_url":"https://api.github.com/users/svenfuchs/[...]
